.element-properties {
  padding: 5px;
}

.element-properties label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.element-properties input,
.element-properties span {
  display: block;
  width: 80%;
  margin-top: 5px;
}


.element-properties fieldset {
  margin-top: 20px;
}

.element-properties div.selected-executors div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}


.element-properties div.selection {
  display: flex;
  align-items: center;
}

.element-properties div.selection svg {
  margin-right: 5px;
  font-size: 1.5em;
}



.dropdown-menu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-menu div:hover {
  background-color: #f0f0f0;
}


.element-properties .product-search {
  margin-left: 15px;
}