.batch {
    background-color: white;
    padding: 8px;
    border-bottom: 1px solid gray;
    position: relative;
}

.batch-input {
    display: flex;
    align-items: center;
}

.batch-input input {
    margin-right: 15px;
    width: 60px;
}

.batch-container {
    margin-left: 15px;
    margin-bottom: 5px;
    position: relative;
  }