body,
html {
  height: 100%;
  width: 100%;

  margin: 0;

  display: flex;
  flex-direction: row;
}

.modeler-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#modeler-container {
  flex: 1;
}

#properties-container {
  overflow-y: auto;

  border-left: solid 2px #CCC;
  background: #FAFAFA;

  width: 350px;
}

#download-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  margin: 10px;
}

.hide-executor-button {
  margin-left: 200px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
  /* metà di 34px per mantenere la forma arrotondata */
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  /* metà di 26px */
  width: 13px;
  /* metà di 26px */
  left: 2px;
  /* regolato per centrare il pulsante all'interno dello switch */
  bottom: 2px;
  /* regolato per centrare il pulsante all'interno dello switch */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.hide-executor-container {
  position: absolute;
  margin-left: 125px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.hide-executor-label {
  margin-right: 10px;
}