.general {
  background-color: white;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 12px;
}

.id,
.name {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.id label,
.name label {
  font-weight: bold;
  width: 30%;
  margin-right: 10px;
}

.id input,
.name input {
  font-size: 14px;
  display: inline-block;
  width: 65%;
  background-color: rgb(231, 231, 231);
  padding: 5px;
  border: 1px solid gray; 
}

.id input{
  color:gray;
  margin-bottom: 17px;
}

.element-properties label {
  font-weight: bold;
  display: block;
}

.element-properties input,
.element-properties span {
  display: block;
  width: 80%;
  margin-top: 5px;
}

.element-properties .properties-list{
  margin-top: 15px;
}


.element-properties .element-type {
  background-color: white;
  font-weight: bold;
  margin-top: 15px;
  padding: 15px;
  font-size: 125%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}