.element-properties label {
  font-weight: bold;
}

.element-properties label:after {
  content: ': ';
}

.element-properties button+button {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #6f6d6d;
}

.split-container {
  display: flex;
}

.list-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}